{% extends 'base.html' %}
{% block content %}
	{% block header %}
	<header>
		<h1>LOGO</h1>
	</header>
	{% endblock %}
	<div id="userinfo">
		{% block userinfo %}
			<a href="{% url auth_logout %}" title="Logout">Logout</a>
			{{ user.username }}
			<p>Total: {{ user.get_profile.count_user_erms }} </p>
			<ul>
			{% for erm in user.erms.all %}
				<li>{{ erm.title }}</li>
			{% endfor %}
			</ul>
		{% endblock %}
	</div>
	<div id="sidebar">
	{% block sidebar %}
		<ul>
			<li><a href="{% url nuevo %}" title="Nuevo Erm">NUEVO ++</a></li>
			<li><a href="#" title="item">Item >></a></li>
			<li><a href="#" title="item">Item >></a></li>
			<li><a href="#" title="item">Item >></a></li>
			<li><a href="#" title="item">Item >></a></li>
			<li><a href="#" title="item">Item >></a></li>
			<li><a href="#" title="item">Item >></a></li>
			<li><a href="#" title="item">Item >></a></li>
			<li><a href="#" title="item">Item >></a></li>
			<li><a href="#" title="item">Item >></a></li>
		</ul>
	{% endblock %}
	</div>
	<div id="main">
	{% block main %}
		{% for erm in erm_list %}
			<div class="erm-list-item">
				<img alt="imagenerm" src="{{ erm.image.url }}" />
				<h3>{{ erm.title }}</h3>
				<ul>
					<li>{{ erm.created_at }}</li>
				</ul>
			</div>
		{% endfor %}
	{% endblock %}
	</div>
{% endblock %}
